
<div data-role="header" data-theme="b">
  <h1>エキスパートの検索結果</h1>
</div>

<p><span style="color: red"><%= @experts.size%></span>件ヒット</p>

<ol data-role="listview">

  <% @experts.each do |expert| %>
    <li>
      <%= link_to expert.name + "さん" %>
    </li>
  <% end %>
</ol>








